.liked-photos {
	padding: 10px;
	margin-bottom: 10px;
	max-height: 50%;
}

.wrapper-liked-photos {
	padding: 10px 0;
	max-height: 300px;
	overflow: auto;
}

.liked-photos__item {
	padding: 5px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
	margin-bottom: 5px;
	border-radius: 5px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	&:last-child {
		margin-bottom: 0;
	}
	& > span {
		font-size: 14px;
	}
}

.liked-photos__img {
	width: 50px;
	height: auto;
}

@media screen and (min-width: 740px) {
	.liked-photos__img {
		width: 150px;
	}
}

@media screen and (min-width: 1000px) {
	.liked-photos__img {
		width: 250px;
	}
}
