.liked-photos {
	padding: 10px;
	margin-bottom: 10px;
	height: 50%;
}

.liked-photos--billet {
	padding: 10px 0;
	font-size: 20px;
	font-weight: bold;
	color: rgba(199, 195, 195, 0.753);
	text-align: center;
}

.wrapper-liked-photos {
	padding: 10px 0;
	max-height: 500px;
	overflow: auto;
}

.liked-photos__item {
	padding: 5px;
	height: 80px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
	margin-bottom: 5px;
	border-radius: 5px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	&:last-child {
		margin-bottom: 0;
	}
	& > span {
		font-size: 14px;
	}
}

.liked-photos__img {
	width: 50px;
	max-height: 100%;
}

@media screen and (min-width: 740px) {
	.liked-photos {
		width: 50%;
		height: 100%;
		margin-bottom: 0;
		margin-right: 10px;
	}
	.wrapper-liked-photos {
		width: 100%;
		height: 100%;
	}
	.liked-photos__img {
		width: 150px;
	}
	.liked-photos__item {
		height: 180px;
	}
}

@media screen and (min-width: 1000px) {
	.liked-photos__img {
		width: 250px;
	}
	.liked-photos__item {
		height: 380px;
	}
}
