.header {
	width: 100vw;
	padding: 20px;
}

.header-nav__item {
	margin-right: 20px;

	&:last-child {
		margin: 0;
	}

	.header-nav__link {
		text-decoration: none;
		color: black;
	}
	.header-nav__item--active {
		color: blue;
	}
}
