.gallery {
	padding: 10px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}
.btn-like {
	font-size: 18px;
	margin-right: auto;
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;

	&:hover {
		color: rgb(15, 239, 255);
	}
	&:focus {
		color: rgb(255, 255, 255);
	}
}

button.btn-like--active {
	color: rgb(15, 239, 255) !important;
}
@media screen and (min-width: 740px) {
	.gallery {
		width: 50%;
	}
}
