.wrapper-slider {
	max-height: 30vh;
	margin-bottom: 100px;
}
@media screen and (min-width: 740px) {
	.wrapper-slider {
		margin-bottom: 350px;
	}
}

@media screen and (min-width: 950px) {
	.wrapper-slider {
		width: 950px;
		margin-bottom: 450px;
	}
}
